/********************************************
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

input, textarea {
    outline: none;
}


/********************************************
 共通
*********************************************/
body {
    color: #2c3e50;
}

header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #2c3e50;
}

header a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.page-title {
    padding: 50px 0;
    text-align: center;
}


/********************************************
 新規作成画面
*********************************************/
.form {
    width: 500px;
    padding: 30px 20px;
    margin: 0 auto 50px;
    border: 1px solid #e3e7e8;
    border-radius: 3px;
}

.column-title {
    margin-bottom: 6px;
    font-size: 20px;
}

input,textarea {
    padding: 5px;
}

input:focus {
  border: 2px solid #222222;
  border-radius: 3px;
}

textarea:focus {
  border: 2px solid #222222;
  border-radius: 3px;
}

.form input {
    height: 46px;
    width: 100%;
    margin-bottom: 30px;
}

.form textarea {
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}

.form_importance input {
    margin-bottom: 50px;
}

.form button {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #2c3e50;
    color: #FFFFFF;
    font-size: 16px;
}

/********************************************
 一覧画面
*********************************************/
.create-link {
    width: 100%;
    padding: 0 60px 40px;
    display: flex;
    justify-content: flex-end;
}

.create-link a {
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
}

.issue-table {
    margin: 0 auto;
    border-collapse:  collapse;
}

.issue-table th,td {
    height: 45px;
    padding: 5px;
    border: solid 1px #2c3e50;
    overflow: hidden;
    white-space: nowrap;
}

.issue-table th {
    background-color: #2c3e50;
    color: #FFFFFF;
}

.issue-table th:nth-child(3) {
    min-width: 600px;
}